<div class="titulo">
    <h1>Mascotas Registradas</h1>
</div>
<div class="paginado">
    <div class="btnUsuarios">
        <p><a class="btn btn-lg btn-primary" href="api/usuarios">Ver Usuarios</a></p>
    </div>
    <div class="btnCuidadores">
        <p><a class="btn btn-lg btn-primary" href="api/cuidadores">Ver Cuidadores</a></p>
    </div>
</div>
<div class="mascotas">
    <div class="mascota" *ngFor="let mascota of arrMascotas">

    
                             

       
        
                <section class="team">
                    
                    <div class="container">
                        <div style="height: auto;" class="profile">
                            <h5 id="threeD" style="position: relative; margin-bottom: 160px;" class="usuarioNombre">{{mascota.nombre}} </h5>
                            
                                
                           
                            
                            
                            <img src="../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png" alt="">
                            
                            <span class="name">
                                <h6>
                                    {{mascota.raza}} 
                                </h6>
                                
                            </span>
                        </div>
                    </div>
                </section>
        
        
        
        
          
    </div>
</div>