body {
  margin: 0;
  padding: 0;
  height: 100vw;
  background: #f08080;
}

#threeD {
  
  color: #10996d;
  white-space: nowrap;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.3em;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 rgb(38, 126, 78), 1px 2px 0 rgb(255, 255, 255), 1px 3px 0 grey, 1px 4px 0 grey,
    1px 5px 0 grey, 1px 6px 0 grey, 1px 7px 0 grey, 1px 8px 0 grey,
    5px 13px 15px black;
}

#threeD:hover{
  transition: 0.5s;
  transform: scale(1.1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 grey, 1px -2px 0 grey, 1px -3px 0 grey,
    1px -4px 0 grey, 1px -5px 0 grey, 1px -6px 0 grey, 1px -7px 0 grey,
    1px -8px 0 grey, 5px -13px 15px black, 5px -13px 25px #808080;
}

















.titulo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

h1{
    width: auto;
    margin-top: 10px;
    padding: 30px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



img{
    width: 150px;
    height: auto;
    border: 3px solid lightseagreen;
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.mascota{
    width: 250px;
    height: auto;
    
    margin: 10px;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.368));
 
    text-align: center;
}

.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btnUsuarios{
    margin: 20px 20px 0 0;
}

.btnCuidadores{
    margin: 20px 0 0 20px;
}









  .container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .profile {
    position: relative;
    transition: all 0.7s;
  }
  
  .profile:hover {
    transform: translateY(-30px);
  }
  
  .profile img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
  }

  .profile:not(:first-child) img {
    margin-left: -20px;
  }
  
  .profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 20px 40px 10px 40px;
    border-radius: 100px;
    bottom: -65px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s;
  }
  
  .profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .profile img:hover + .name{
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(45, 198, 89, 0.604);
    

  }
