.titulo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

h1{
    width: auto;
    margin-top: 10px;
    padding: 30px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#btnPerfilCompleto{
    background-color: lightseagreen;
}

img{
    width: 150px;
    height: auto;
    border: 3px solid lightseagreen;
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.mascota{
    width: 350px;
    height: auto;
    padding: 20px;
    margin: 10px;
    border: 3px solid lightseagreen;
    border-radius: 5%;
    text-align: center;
}

.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btnUsuarios{
    margin: 20px 20px 0 0;
}

.btnCuidadores{
    margin: 20px 0 0 20px;
}
