.mascotas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mascota{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    border: 3px solid lightseagreen;
    border-radius: 10%;
    text-align: center;
}