<div style="width: 100%;  border-top-left-radius: 35px; border-top-right-radius: 35px; margin: 0%; background-color: #26272b;"
    class="g">
    <div style="margin-top: 10px; display: flex; justify-content: center; width: 100%;">

        <div style="width: 100%; margin: 0%; padding: 0%;" class="container">
            <span style="width: 100%;" class="text-muted">

                <!-- Site footer -->




                <footer style="padding: 0%; width: 100%;" class="site-footer">
                    <div style="margin-top: 15px; padding: 0; width: 100%;" class="container">
                        <div class="row">
                            <div class="width:auto; col-sm-1 col-md-9">
                                <h6>¿Quienes somos?</h6>
                                <p class="text-justify">En Ellos También Vienen buscamos lo mejor para ti y para tus
                                    mascotas, para que cuando llega la hora de irte de viaje o de vacaciones puedas
                                    disfrutar también de la compañia de tus mascotas sin tener que dejarla en tu casa y
                                    pudiéndo estar mucho más cerca de ellas para pasar juntos momentos inolvidables.
                                </p>



                            </div>


                            <div style="width: auto; text-align: center; margin: 0%;" class="col-xs-9 col-md-3">
                                <h6>Quick Links</h6>
                                <ul style="margin: 0; padding: 0 20px; width: auto;" class="container footer-links">
                                    <div style="width: auto;" style="padding: 12px;" class="row">
                                        <li class="col"><a href="#">Home</a></li>
                                        <li class="col"><a href="/destinos">Destinos</a></li>
                                        <li class="col"><a href="/dondeVais">¿DóndeVais?</a></li>

                                    </div>
                                    <div class="row">
                                        <li class="col"><a href="api/cuidadores">Cuidadores</a></li>
                                        <li class="col"><a href="/blog">Blog</a></li>
                                        <li class="col"><a href="/aboutUs">AboutUs</a></li>

                                    </div>


                                </ul>
                            </div>

                            <!-- 
                            <div style="width: auto;">
                                <p class="float-end"><a href="#">Back to top</a></p>
                            </div> -->




                        </div>
                        <hr>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                                    <a href="#">xxx</a>.
                                </p>
                            </div>

                            <div style="margin-bottom:10px;" class="col-md-4 col-sm-6 col-xs-12">
                                <ul class="social-icons">
                                    <li><a class="facebook" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-envelope-fill"
                                                viewBox="0 0 16 16">
                                                <path
                                                    d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z" />
                                            </svg></a></li>
                                    <li><a class="twitter" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                height="16" fill="currentColor" class="bi bi-telephone-fill"
                                                viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                    d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
                                            </svg></a></li>
                                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </footer>
            </span>
        </div>

    </div>
</div>