<div style="" class="login-box">
    <div style="display: flex; justify-content: space-around;">
        <h3><a href="api/usuarios/login" style="text-decoration: none; color: #03e9f4;">Login Usuario</a></h3>
        <h3><a href="api/usuarios/loginCuidadores" style="text-decoration: none; color: black;">Login Cuidadores</a>
        </h3>
    </div>
    <form [formGroup]="logInFormCliente" (ngSubmit)="onSubmitCliente()">
        <div class="user-box">
            <input type="email" name="" required="" formControlName="email">
            <label>Email</label>
        </div>
        <div class="user-box">
            <input type="password" name="" required="" formControlName="password">
            <label>Password</label>
        </div>
        <a href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            LogIn
        </a>
    </form>
</div>

<div style="height: 500px;">

</div>