<div class="logins">
    <div class="logUser">
        <h1 class="hLogUser">Ya tienes una cuenta de usuario?</h1>
        <p><a class="btn btn-lg btn-primary" href="login/usuarios">LogIn</a></p>
    </div>
    <div class="logNew">
        <h1 class="hlogNew">Todavía no tienes una cuenta?</h1>
        <p><a class="btn btn-lg btn-primary" href="api/usuarios/new">Regístrate</a></p>
    </div>
    <div class="logCuidador">
        <h1 class="hLogCuidador">Ya tienes una cuenta de cuidador?</h1>
        <p><a class="btn btn-lg btn-primary" href="login/cuidadores">LogIn</a></p>
    </div>

</div>