/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}
#vienen{
    color: black;
    font-size: 50px;
    margin: 0 0 25px 0;

}
#pVienen{
    color: black;
    font-size: 19px;
}
#pVienen2{
    color: black;
    font-size: 19px;
    margin: -20px 0 25px 0;
}
#btnVais{
    margin: 0 0 150px 0;
}

#unete{
    color: black;
    font-size: 50px;
    margin: 0 0 50px 0;
}

#btnUnete{
    margin: 0 0 250px 0;
}

#hSlide2{
  color: black;
}