/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */


.bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
  }

  @media (min-width: 768px) {
      .bd-placeholder-img-lg {
          font-size: 3.5rem;
      }
  }

  .text-black {
    color: black
  }

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/* .carousel {
  margin-bottom: 4rem;
} */
/* Since positioning the image, we need to help out the caption */

/* #cont1{
   bottom: 7rem;
  z-index: 10;


  
    position: absolute; 
    right: 40%; */
/*     top: 100px; /* Cambiar bottom por top y los píxeles que necesites */
  /*   left: 15%;
    z-index: 10;
    padding-top: 50px;
    padding-bottom: 20px;
    text-align: center;
}
 */ */



.carousel-caption {
  bottom: 7rem;
  z-index: 10;


  
    position: absolute; 
    right: 15%;
    top: 40px; /* Cambiar bottom por top y los píxeles que necesites */
    left: 15%;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    
    
}

.car1{
justify-content: center;
}

.textoCarousel{
  font-family: sans-serif;
  color: white;
  text-align: center;

}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;

} 
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: auto;
}
/* #vienen{
    color: black;
    font-size: 50px;
    margin: 0 0 25px 0;

}
#pVienen{
    color: black;
    font-size: 19px;
}
#pVienen2{
    color: black;
    font-size: 19px;
    margin: -20px 0 25px 0;
} */
#btnVais{
    margin: 0 0 150px 0;
}

#unete{
    color: black;
    font-size: 50px;
    margin: 0 0 50px 0;
}

#btnUnete{
    margin: 0 0 250px 0;
}

#hSlide2{
  color: black;
}

/* .col-md-7{
padding:100px;
} */

.parallax-container {
      position: relative;
      overflow: hidden;
      height: 500px;
    }








