.titulo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

h1{
    width: auto;
    margin-top: 10px;
    padding: 30px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.usuarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#btnPerfilCompleto{
    background-color: lightseagreen;
}

img{
    width: 150px;
    height: auto;
    border: 3px solid lightseagreen;
    border-radius: 50%;
    margin: 0 0 10px 0;
}

.usuario{
    width: 250px;
    height: auto;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
}

.btnMascotas{
    margin: 20px 20px 0 0;
}

.btnCuidadores{
    margin: 20px 0 0 20px;
}

.usuarioNombre{
    width: 200px;
}










  .container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .profile {
    position: relative;
    transition: all 0.3s;
  }
  
  .profile:hover {
    transform: translateY(25px);
  }
  
  .profile img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
  }

  .profile:not(:first-child) img {
    margin-left: -20px;
  }
  
  .profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .profile img:hover + .name{
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
  }

  

  
