<div class="titulo">
    <h1>Usuarios Registrados</h1>
</div>
<div class="paginado">
    <div class="btnMascotas">
        <p><a class="btn btn-lg btn-primary" href="api/mascotas">Ver Mascotas</a></p>
    </div>
    <div class="btnCuidadores">
        <p><a class="btn btn-lg btn-primary" href="api/cuidadores">Ver Cuidadores</a></p>
    </div>
</div>
<div class="usuarios">
    <div class="usuario" *ngFor="let usuario of arrUsuarios">
           
        <section class="team">
            <div class="container">
                <div class="profile"><h5 class="usuarioNombre">{{usuario.nombre}} </h5>
                    <img src="../../../assets/images/Captura de pantalla 2021-06-12 a las 1.12.26.png" alt="">  
                    <span class="name">
                        <h6>
                            {{usuario.edad}} años
                        </h6>
                       <h6>
                           Provincia
                       </h6>
                </span>                      
                 </div>
            </div>
        </section>
        
            
        

    </div>
</div>

<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap"
    rel="stylesheet" />