<link href="./nav-bar.component.css" rel="stylesheet">
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
    }

    @media (min-width: 626px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
    


</style>
<main>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" aria-label="Third navbar example">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
                aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col collapse navbar-collapse" id="navbarsExample03" style="justify-content: center;">
                <li id="img" class=".col-auto .mr-auto" style="position: relative; width: auto; height: auto;text-align: center;" >
                        <a style="width: auto; height: auto;" aria-current="page" href="#"><img style="width: auto; height: auto; margin-top: 10px;"
                                src="../../../../assets/images/iconfinder-icon.svg" alt=""></a>
                </li>
                <ul class="navbar-nav mb-2 mb-sm-0">
                    
                    <div class="profile">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                    </div>
                    <div class="profile">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/destinos">Destinos</a>
                        </li>
                    </div>
                    <div class="profile">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/dondeVais">¿DóndeVais?</a>
                        </li>
                    </div>
                    <div class="profile">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/api/cuidadores">Cuidadores</a>
                        </li>
                    </div>
                    <div class="profile">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/blog">Blog</a>
                        </li>
                    </div>
                    <div class="profile">
                    </div>
                    <!-- <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/aboutUs">About Us</a>
                    </li> -->
                    <!--  <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/api/usuarios/login">LogIn</a>
                    </li> -->
                    
                </ul>

                <li style=" " class=" navbar-nav mb-5 mb-sm-0 nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/api/usuarios/login" id="dropdown03" data-bs-toggle="dropdown"
                        aria-expanded="false">LogIn</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown03">
                        <li><a class="dropdown-item" href="/api/usuarios/login">¿Ya Tienes una Cuenta?</a></li>
                        <li><a class="dropdown-item" href="/api/usuarios/newCliente">Crear una Cuenta</a></li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
</main>
<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>