<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.12.26.png"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{cuidador?.nombre}} {{cuidador?.apellido}} ({{cuidador?.edad}} Años)</h4>
                                <p class="text-secondary mb-1">{{cuidador?.telefono}} / {{cuidador?.email}}</p>
                                <p class="text-secondary mb-1">{{cuidador?.direccion}}</p>

                                <button id="btnEditProfile" class="btn btn-primary">Editar Perfil</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Fotos de {{cuidador?.nombre}}</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png"
                                alt="Admin" class="rounded-circle" width="350">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png"
                                alt="Admin" class="rounded-circle" width="350">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png"
                                alt="Admin" class="rounded-circle" width="350">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="mb-0" style="text-align: center;">Carlos89 </h6>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">
                                Sergi es un gran cuidador! Dejamos a Rufus con él durante una semana y todo fué genial.
                                Recogimos a rufus 4 de los 7 días que estuvimos de vacaciones y a la hora de marcharnos
                                no quería ni irse. Cuidador muy recomendado.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="mb-0" style="text-align: center;">MariaParra</h6>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">
                                Lola pasa de la vida, siempre a su rollo. Le enconta tomar el sol hasta casi quemarse.
                                Muy lametona y cariñosa. A veces
                                puede engancharse con otra hembra.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="mb-0" style="text-align: center;">Ana32</h6>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">
                                Lola pasa de la vida, siempre a su rollo. Le enconta tomar el sol hasta casi quemarse.
                                Muy lametona y cariñosa. A veces
                                puede engancharse con otra hembra.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <h6 class="mb-0" style="text-align: center;">MarcelinoIno</h6>
                            </div>

                        </div>
                        <hr>
                        <div class="row">

                            <div class="col-sm-12 text-secondary">
                                Lola pasa de la vida, siempre a su rollo. Le enconta tomar el sol hasta casi quemarse.
                                Muy lametona y cariñosa. A veces
                                puede engancharse con otra hembra.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>