<div class="container">
    <div class="main-body">
        <div class="row gutters-sm">
            <div class="col-md-12 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.12.26.png"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{cliente?.nombre}} {{cliente?.apellido}} ({{cliente?.edad}} Años)</h4>
                                <p class="text-secondary mb-1">{{cliente?.telefono}} / {{cliente?.email}}</p>
                                <p class="text-secondary mb-1">{{cliente?.direccion}}</p>

                                <button id="btnEditProfile" class="btn btn-primary">Editar Perfil</button>
                                <button id="btnAdd" class="btn btn-outline-primary">Añadir Mascota</button>
                            </div>
                        </div>
                    </div>
                </div>
                <h3>Mis Mascotas</h3>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Row (8 Años)</h4>
                                <p class="text-secondary mb-1">Boxer (Macho)</p>
                                <p class="text-secondary mb-1">Peso: 30KG</p>
                                <p class="text-secondary mb-1">Carácter: Dominante</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cuidados Especiales</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Es alérgico a la vida, vigilar que no le salgan ronchas rojas por la piel y controlar
                                que no coma cosas "raras".
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Que come Row?</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Pienso Hipoalergénico
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Que más nos puedes contar sobre Row</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Row es un perro muy cariñoso y juguetón, siempre que puede buscar el contacto físico,
                                tozudo, insistente y protector.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Editar
                                    Información sobre Row</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png"
                                alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>Lola (7 Años)</h4>
                                <p class="text-secondary mb-1">Boxer (Hembra)</p>
                                <p class="text-secondary mb-1">Peso: 28KG</p>
                                <p class="text-secondary mb-1">Carácter: Juguetona</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Cuidados Especiales</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Ninguno
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Que come Lola?</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                Pienso Hipoalergénico
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Que más nos puedes contar sobre Row</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                RLola pasa de la vida, siempre a su rollo. Le enconta tomar el sol hasta casi quemarse.
                                Muy lametona y cariñosa. A veces
                                puede engancharse con otra hembra.
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-12">
                                <a class="btn btn-info " target="__blank"
                                    href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Editar
                                    Información sobre Lola</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>