<div class="container">
	<div class="main-body">
		<div class="row gutters-sm">
			<div class="col-md-12 mb-3">
				<div class="card">
					<div class="card-body">
						<div class="d-flex flex-column align-items-center text-center">
							<img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.12.26.png" alt="Admin"
								class="rounded-circle" width="150">
							<div class="mt-3">
								<h4>{{cliente[0]?.nombre}} {{cliente[0]?.apellido}} ({{cliente[0]?.edad}} Años)</h4>
								<p class="text-secondary mb-1">{{cliente[0]?.telefono}} / {{cliente[0]?.email}}</p>
								<p class="text-secondary mb-1">{{cliente[0]?.direccion}}</p>

								<button id="btnEditProfile" class="btn btn-primary">Editar Perfil</button>
								<button id="btnAdd" class="btn btn-outline-primary">Añadir Mascota</button>
							</div>
						</div>
					</div>
				</div>
				<h3>Mis Mascotas</h3>
			</div>
			<div class="row mb-3" *ngFor="let mascota of cliente[1]">
				<div class="col-md-4 mr-2">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="../../../../assets/images/Captura de pantalla 2021-06-12 a las 1.04.06.png" alt="Admin"
									class="rounded-circle" width="150">
								<div class="mt-3">
									<h4>{{mascota.nombre}} ({{mascota.edad}} Años)</h4>
									<p class="text-secondary mb-1">{{mascota.raza}} ({{mascota.sexo}})</p>
									<p class="text-secondary mb-1">Peso: {{mascota.peso}}KG</p>
									<p class="text-secondary mb-1">Carácter: {{mascota.caracter}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Cuidados Especiales</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{mascota.cuidadosEspeciales}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Que come {{mascota.nombre}}?</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{mascota.queCome}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Que más nos puedes contar sobre Row</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{mascota.masSobre}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-12">
									<a class="btn btn-info " target="__blank"
										href="https://www.bootdey.com/snippets/view/profile-edit-data-and-skills">Editar
										Información sobre Row</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>