





.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btnUsuarios{
    margin: 0 20px 0 0;
}

.btnMascotas{
    margin:  20px 0 0 0;
}






body {
  margin: 0;
  padding: 0;
  height: 100vw;
  background: #f08080;
}

#threeD {
  
  color: rgb(44, 42, 42);
  white-space: nowrap;
  
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.0em;
  font-family: 'Brush Script MT', cursive;
  letter-spacing: 0.1em;
  transition: 0.3s;
  text-shadow: 1px 1px 0 rgb(112, 113, 113), 1px 2px 0 rgb(106, 106, 106), 1px 3px 0 rgb(38, 126, 78), 1px 4px 0 rgb(38, 126, 78),
    1px 5px 0 rgb(38, 126, 78), 1px 6px 0 rgb(46, 200, 85), 1px 7px 0 rgb(92, 97, 97), 1px 8px 0 rgb(93, 94, 94),
    0px 5px 5px black;
}

#threeD:hover{
  transition: 0.3s;
  transform: scale(1)translate(-50%, -50%);
  text-shadow: 1px -1px 0 rgb(38, 126, 78), 1px -2px 0 rgb(38, 126, 78), 1px -3px rgb(38, 126, 78),
    1px -4px 0 rgb(38, 126, 78), 1px -5px 0 rgb(38, 126, 78), 1px -6px 0 rgb(46, 200, 85), 1px -7px 0 rgb(46, 200, 85),
    1px -8px 0 rgb(46, 200, 85), 5px -13px 15px rgb(46, 200, 85), 5px -13px 25px #0bff34;
}

















.titulo{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

h1{
    width: auto;
    margin-top: 10px;
    padding: 30px;
    border: 3px solid lightseagreen;
    border-radius: 10px;
}

.cuidadores{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}



img{
    width: 150px;
    height: auto;
    border: 3px solid rgb(17, 121, 34);
    border-radius: 50%;
    margin: 0 0 20px 0;
}

.cuidador{
    width: 250px;
    height: auto;
    
    margin: 0px;
    margin-bottom: 40px;
    filter: drop-shadow(-20px 0 10px rgba(25, 224, 75, 0.368));
 
    text-align: center;
}

.paginado{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.btnUsuarios{
    margin: 20px 20px 0 0;
}

.btnCuidadores{
    margin: 20px 0 0 20px;
}









  .container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .profile {
    position: relative;
    transition: all 0.7s;
  }
  
  .profile:hover {
    transform: translateY(-30px);
  }
  
  .profile img {
    max-width: 100%;
    border-radius: 50%;
    border: 5px solid rgb(38, 126, 78);
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
  }

  .profile:not(:first-child) img {
    margin-left: -20px;
  }
  
  .profile .name {
    position: absolute;
    background-color: #10996d;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 20px 40px 10px 40px;
    border-radius: 100px;
    bottom: -65px; left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.4s;
  }
  
  .profile .name::before {
    content: "";
    position: absolute;
    width: 15px; height: 15px;
    background-color: #10996d;
    top: 0; left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
  }
  
  .profile img:hover + .name{
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(48, 176, 85, 0.604);
    

  }
