<main class="container">
    <div class="p-4 p-md-5 mb-0 text-black rounded bg-white">
        <div class="col-md-12 px-0">
            <h1 id="header" class="display-4 fst-italic">Blog: comentar, leer y opinar. </h1>
        </div>

    </div>


    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Rufus</strong>
                    <h3 class="mb-0">American Standford</h3>
                    <div class="mb-1 text-muted"> 09 de Enero</div>
                    <p class="card-text mb-auto">Amstaff: un gran poder conlleva una gran responsabilidad.
                    </p>
                    <strong><a href="https://www.wasky.es/blog/historia-del-american-stanford/"
                            class="stretched-link">Leer
                            más</a></strong>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="https://format-com-cld-res.cloudinary.com/image/private/s--LfoblD46--/c_limit,g_center,h_65535,w_400/fl_keep_iptc.progressive,q_95/v1/e371c5bf924c763d1e886ea6fc8256d8/Fotografia_animal_perros_gatos_valencia_ruzafa_sesiones_caninas_Ele1.jpg"
                        alt="">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <img src="https://i.pinimg.com/474x/6e/d6/e8/6ed6e802cf9690df9587d3f1134e518b.jpg" alt="">

                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Chiqui</strong>
                    <h3 class="mb-0">Los más peques del mundo!</h3>
                    <div class="mb-1 text-muted">12 de Marzo</div>
                    <p class="card-text mb-auto">Sabías que el chihuhua es el perro más pequeño del mundo?</p>
                    <strong><a href="https://www.hillspet.es/dog-care/dog-breeds/chihuahua"
                            class="stretched-link">Descúbrelo</a></strong>
                </div>

            </div>
        </div>

        <div class="row g-5">

            <div class="col-md-8">
                <div class="position-sticky" style="margin-top: -100px; text-align: center;">
                    <div class="p-4 mb-3">
                        <h5 class="mb-0">Aquí encontrarás artículos relacionados con nuestras mascotas,
                            eventos caninos y podrás dejar tus propios comentarios para nutrir a nuestra
                            comunidad con ideas, conocimientos y experiéncias.</h5>

                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="position-sticky" style="margin-top: -100px; text-align: center;">
                    <div class="p-4 mb-3">
                        <h1 class="mb-0">¿A que esperas?</h1>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <img src="https://guardadogs.es/wp-content/uploads/2018/11/4-e1541987429900.jpg" alt="">

                </div>
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Pablo (Valencia)</strong>
                    <h3 class="mb-1">Cuidador del mes!!!</h3>

                    <p class="mb-auto">Nos llena de alegría compartir con todos vosotros que Pablo ha sido elegido
                        cuidador del mes. Por? Averiguarlo vosotros mismos...</p>
                    <p class="mb-auto">
                        QUÉ VALORACIONES!!!</p>
                    <strong><a href="#" class="stretched-link">Ver su perfil completo</a></strong>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col-auto d-none d-lg-block">
                    <img src="https://www.webconsultas.com/sites/default/files/mascota_coche_2.jpg" alt="">

                </div>
                <div class="col p-4 d-flex flex-column position-static">

                    <h3 class="mb-1">Sorteamos un viaje, te apuntas?</h3>
                    <div class="mb-1 text-muted">Del 10 al 15 de Julio</div>
                    <p class="mb-auto">Descúbre cómo puedes ganar un viaje inolvidable para ti y tu mascota éste verano
                        en un lugar increíble.</p>
                    <strong><a href="#" class="stretched-link">Lo quiero!!!</a></strong>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Cuidados para tu mascota</strong>
                    <h3 class="mb-1">¿Garrapatas?</h3>

                    <p class="card-text mb-auto">Cómo evitar y prevenir que mi perro tenga garrapatas? </p>
                    <p class="card-text mb-auto"> Los meses de
                        primavera y verano son los de más riesgo para que tu perro contraiga garrapatas. </p>
                    <strong><a href="https://www.redcanina.es/como-evitar-y-prevenir-que-mi-perro-tenga-garrapatas/"
                            class="stretched-link">Ir al artículo</a></strong>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../../assets/images/garrapata.png" alt="">

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Cuidados para tu mascota</strong>
                    <h3 class="mb-1">Qué NO deben comer!</h3>
                    <p class="card-text mb-auto">9 alimentos prohibidos para los perros que no debes compartir con tu
                        mascota.</p>
                    <p class="card-text mb-auto">Hay alimentos prohibidos para los perros que jamás debes compartir con
                        tu mejor amigo...</p>
                    <strong><a
                            href="https://www.elespanol.com/cocinillas/reportajes-gastronomicos/20170508/alimentos-prohibidos-perros-no-debes-compartir-mascota/214479298_0.html"
                            class="stretched-link">Continuar leyendo</a></strong>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="../../../assets/images/perroComida.png" alt="">

                </div>
            </div>
        </div>
    </div>

</main>