<!-- <div class="container">
    <div class="col-3">
        <form [formGroup]="newCuidadorForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input type="text" class="form-control" formControlName="nombre">
            </div>
            <div class="mb-3">
                <label class="form-label">Apellido</label>
                <input type="text" class="form-control" formControlName="apellido">
            </div>
            <div class="mb-3">
                <label class="form-label">Experimentado?</label>
                <input type="text" class="form-control" formControlName="experimentado">
            </div>
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="text" class="form-control" formControlName="email">
            </div>
            <div class="mb-3">
                <label class="form-label">Dirección</label>
                <input type="text" class="form-control" formControlName="direccion">
            </div>
            <div class="mb-3">
                <label class="form-label">Edad</label>
                <input type="text" class="form-control" formControlName="edad">
            </div>
            <div class="mb-3">
                <label class="form-label">Género</label>
                <input type="text" class="form-control" formControlName="genero">
            </div>
            <div class="mb-3">
                <label class="form-label">Razas Admitidas</label>
                <input type="text" class="form-control" formControlName="razasAdmitidas">
            </div>
            <div class="mb-3">
                <label class="form-label">Teléfono</label>
                <input type="text" class="form-control" formControlName="telefono">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="text" class="form-control" formControlName="password">
            </div>
            <div class="mb-3">
                <label class="form-label">Repeat Password</label>
                <input type="text" class="form-control" formControlName="repeatPassword">
            </div>
            <button id="btnEnviar" class="btn btn-success">Enviar</button>
        </form>
    </div> -->
<div class="card-3d-wrap mx-auto">
    <div class="card-3d-wrapper">
        <div class="card-front">

            <div class="section text-center">
                <div style="display: flex; justify-content: space-around;">
                    <h3><a href="api/usuarios/newCliente" style="text-decoration: none; color: black;">Registro
                            Usuario</a>
                    </h3>
                    <h3><a href="api/usuarios/newCuidador" style="text-decoration: none; color: #03e9f4;">Registro
                            Cuidaaador</a>
                    </h3>
                </div>

                <form [formGroup]="newCuidadorForm" (ngSubmit)="onSubmit()">

                    <div class="form-group ">

                        <input placeholder="Nombre" name="logpass" type="text" id="logpass" class="form-control"
                            formControlName="nombre">
                        <i class="input-icon uil uil-lock-alt"></i>

                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Apellidos" type="text" name="logpass" class="form-control" id="logpass"
                                formControlName="apellido">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Experimentado?" type="text" name="logpass" class="form-control"
                                id="logpass" formControlName="experimentado">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Email" type="email" name="logpass" class="form-control" id="logpass"
                                formControlName="email">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Dirección" type="text" name="logpass" class="form-control" id="logpass"
                                formControlName="direccion">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Edad" type="text" name="logpass" class="form-control" id="logpass"
                                formControlName="edad">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Género" type="text" name="logpass" class="form-control" id="logpass"
                                formControlName="genero">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Razas Admitidas" type="text" name="logpass" class="form-control"
                                id="logpass" formControlName="razasAdmitidas">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Teléfono" type="text" name="logpass" class="form-control" id="logpass"
                                formControlName="telefono">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Password" type="password" name="logpass" class="form-control"
                                id="logpass" formControlName="password">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <div class="form-group mt-2">
                        <div class="form-group">
                            <input placeholder="Repeat Password" type="password" name="logpass" class="form-control"
                                id="logpass" formControlName="repeatPassword">
                            <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                    </div>
                    <button id="btnEnviar" class="btn btn-success">Registrarse</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div style="height: 40vh;">

</div>